<!DOCTYPE html>
<html>
<head>
  <title>VideosAndComments</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcom to videos, please comment</h1>

<ul>
	<li><%= link_to "My profile", profile_path() %></li>
	<li><%= link_to "My playlists", playlists_path() %></li>
	<li>My videos</li>
</ul>

<%= yield %>

</body>
</html>
